@font-face {font-family: 'Droid Sans'; src: url('droid-sans.ttf') format('truetype'), url('droid-sans-bold.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Droid Sans'; src: url('droid-sans-bold.ttf') format('truetype'); font-weight: bold; font-style: normal;}

body {background-color: black; color: white; text-align: center; font-family: "Droid Sans", sans-serif; font-weight: 400; font-style: normal;}
header {background: linear-gradient(to bottom, #9c9c9c, #878787); width: 100%; padding: 2px; text-align: left; font-weight: bold; text-shadow: 0px 0px 11px rgba(0,0,0,0.61);}
button {background: linear-gradient(to bottom, #f1f1f1, #b8b8b8); padding: 9px; color: black; cursor: pointer; border:none; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
button:active {background: linear-gradient(to bottom, #ff9e00, #fba622);}
button:disabled {cursor: not-allowed;background: linear-gradient(to bottom, #535353, #636363);}

div {box-sizing: border-box; margin: auto; margin-top: 10px; margin-bottom: 10px; padding: 6px; width: 50%; overflow: auto;}
div.block {border-color: #4F4E4F; border-width: 1px;  border-style: solid; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); background-color: black;}
div.image {background-color: none;}
table, th, tr, td {text-align: center;}

img.stack {position: absolute; top: 0; left: 0;}
a {text-decoration: none; color: white;}
mark {color:#ffe600;background-color: rgba(0, 0, 0, 0);font-weight: bold;}

@media (max-width: 768px) {div {width: 100%;}}