@font-face {font-family: 'Droid Sans'; src: url('droid-sans.ttf') format('truetype'), url('droid-sans-bold.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Droid Sans'; src: url('droid-sans-bold.ttf') format('truetype'); font-weight: bold; font-style: normal;}

body {background-color: black; color: white; font-family: "Droid Sans", sans-serif; font-weight: 400; font-style: normal;}
table {border:1px solid #4F4E4F;border-collapse: collapse;}
th, td {padding: 2px;border:1px solid #4F4E4F;}
th ,td:active {background: linear-gradient(to bottom, #ff9e00, #fba622);}
header {color:white;background: linear-gradient(to bottom, #9c9c9c, #878787); width: 100%; padding: 2px; text-align: left; font-weight: bold; text-shadow: 0px 0px 11px rgba(0,0,0,0.61);}
header a {color:white}
a {text-decoration: none;color: white;}
a:hover {color:#a4c639}
a:active {color:black}

@media (max-width: 768px) {div {width: 100%;}}