div {width: 100%;}
@media (min-width: 769px) and (max-width: 1024px) {div {width: 48%; display: inline-block; margin: 1%;}}
@media (min-width: 1025px) {div {width: 30%; display: inline-block; margin: 1%;}}
