@font-face {font-family:'Droid Sans';font-display:swap;src:url('droid-sans.ttf') format('truetype'), url('droid-sans-bold.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face {font-family:'Droid Sans';font-display:swap;src:url('droid-sans-bold.ttf') format('truetype');font-weight:bold;font-style:normal;}

body {margin:0;padding-top:30px;padding-bottom:30px;background-color:black;color:white;text-align:center;font-family:"Droid Sans",sans-serif;}
body.nocom {padding-bottom:0}
nav {position:fixed;z-index:1000;top:0;width:100%;}
header {padding:2px;padding-right:0;color:white;background:linear-gradient(to bottom,#9C9C9C, #878787);background-color:#9C9C9C;width:100%;text-align:left;font-weight:bold;text-shadow:0px 0px 11px black}
header a {color:white;text-decoration:none;}
header a:hover {color:#A4C639}

button {font-family:'Droid Sans',sans-serif;background:linear-gradient(to bottom,#F1F1F1, #B8B8B8);padding:9px;color:black;cursor:pointer;border:none;user-select:none;box-shadow:0 3px 6px #00000029, 0 3px 6px #0000003B;}
button:active {background:linear-gradient(to bottom,#FFD554,#E99D00)}
button:focus-visible {background:linear-gradient(to bottom,#FFB769, #EC6100);outline: none;}
button:disabled {cursor:not-allowed;background:linear-gradient(to bottom,#535353, #636363);}

a {color:#A4C639}
a:focus-visible {color:#EC6100;outline:none}
a:focus-visible button {background:linear-gradient(to bottom,#FFB769, #EC6100)}

div.browse div.box a {color:white}
div.browse div.box:hover {border:solid 1px #E99D00}
div.browse div.box:focus-visible {border:solid 1px #EC6100}
div.browse div.box:hover header {color:#A4C639}
div.browse div.box:active {background:linear-gradient(to bottom,#FFD554, #E99D00);color:black}
div.browse div.box a:focus-visible div.contents {background:linear-gradient(to bottom,#FFB769, #EC6100);color:black}
div.browse div.box:active span.year, div.box a:active span.price, div.box a:active p, a:focus-visible span.price, a:focus-visible span.year {color:black}

div.row {width:90%;margin:auto}
div.box {margin:auto;box-sizing:border-box;margin-top:10px;margin-bottom:10px;border:solid 1px #4F4E4F;overflow:hidden}


/*Used in Animations*/
div.box#Video video {width:100%;display:block}

/*Used in Games*/
div.box#Header {display:flex;align-items:stretch;padding:15px;padding-left:5px;gap:5px;overflow:visible}
div.box#Header img {width:120px;height:auto;object-fit:contain}
div.box#Header h2 {margin:0}
div.box#Header button.ver {margin-left:-7px;padding-left:4px;padding-right:4px;height: 100%;}
div.box#Header div.details {display:flex;flex-direction:column;justify-content:space-between;flex-grow:1}
div.box#Header div.actions {display:flex;align-items:center;gap:10px}

div.box#Screenshots {overflow-x:visible;scrollbar-width:none;max-height:300px;}
div.box#Screenshots:focus-visible {border:solid 1px #EC6100;outline:none;}
div.box#Screenshots td {height:250px}
div.box#Screenshots img {height:100%}
div.box#Screenshots table.landscape td {height:140px}
div.box#Screenshots table.landscape img {height:100%}

/*Used in downloads*/
div.loader {background-image: url(/meta/web-loading.gif);width:60px;width:90px;height:25px;border-radius:4px}
div.versions {position:relative;display:inline-block;}
div.versions button.version-view {margin-left:-7px;}
div.version-list {display:none;position:absolute;top:100%;left:-90px;min-width:115px;box-shadow:0px 8px 16px 0px #00000080;z-index:10;margin-top: 2px;background: linear-gradient(#414141,#202020);}
div.version-list a {background:linear-gradient(to bottom,#F1F1F1, #B8B8B8);color:black;padding: 5px;margin:2px;text-decoration:none;display:block;}
div.version-list a:active {background:linear-gradient(to bottom,#FFD554, #E99D00)}
div.version-list a:focus-visible {background:linear-gradient(to bottom,#FFB769, #EC6100)}
div.version-list.show {display:block}
.actions.loading > *:not(.loader):not(.rating) {display: none !important}

/*Used in Products*/
div.browse {user-select:none}
div.browse a {text-decoration:none}
div.browse div.box {color:white;font-weight:bold;width:95%;margin-bottom:10px;}
div.browse div.box div.contents {box-sizing:border-box;width:100%;height:100%;padding-bottom:10px;}
div.browse div.box p {margin-top:0;padding-top:10px;margin-bottom:5px;}
div.browse div.box img {width:100%;display:block}
div.browse div.box details {font-weight:normal;}
div.board {margin:auto}
div.board img {margin:auto;width:150px;margin:3px;margin-top:0px}
div.board img:hover {cursor:pointer}
div.individual {padding-top:10px}
div.individual div.box {width:95%;text-align:left;margin-top:0}
div.individual div.box#Gallery img {width:100%}
div.individual div.box#Gallery header {padding:10px;text-align:center}
div.individual div.box p {margin-left:9px;margin-right:9px;margin-bottom:5px;}
div.individual div.texts header, div#comments header {background:#191919;color:#BEBEBE;border-bottom:solid 1px #5e5e5e}
div.individual div.box#Extras header {margin-bottom:10px}
div.individual div.box#Extras img {width:150px}
div.drawer {width:100%;position:fixed;bottom:0;left:0;right:0;z-index:1000;display:flex;flex-direction:column;align-items:center;}
div.drawer button {border-top-left-radius:5px;border-top-right-radius:5px;}
div.drawer div.box {max-height:0;overflow:hidden;width:100%;transition: max-height 0.3s ease-in-out;margin-top:0;margin-bottom:0;scrollbar-width:none;background:#383838;border:none}
div.drawer.open div.box {max-height:500px;overflow-y:auto;border:solid 1px #4F4E4F;}
div.drawer div.giscus {box-sizing:border-box;padding:10px}


article {box-sizing:border-box;padding:5px;background:linear-gradient(#414141,#202020);border:solid 1px grey;border-radius:5px;text-align:center;margin:auto;margin-bottom:15px;width:100%;overflow:hidden;}
article img.wide, article video.wide {width:100%}
article table {margin:auto}

summary {list-style-type:none;font-weight:bold;color:grey;cursor:pointer;user-select:none}
summary:focus-visible {outline:none;color:#EC6100}
details {text-align:center;padding-top:0;padding-bottom:8px;font-style:italic}
details li {list-style-type:disc;list-style-position:inside;text-align:left}

abbr {cursor:help}
hr {margin-left:5px;margin-right:5px;border-color:grey}
ul {list-style:none;padding-left:8px}
ul a {font-weight:bold}
footer a {color:grey;text-decoration:none}
footer a:focus-visible {color:#EC6100}
figcaption {padding-top:10px;font-style:normal}
mark {color:#FFE600;background-color:#00000000;font-weight:bold}
mark.red {color:#DF2D2D}
::selection {background:#A5C639;color:white}

span.artist, span.year, h3, footer, .hide {color:grey}
span.price, mark.green {color:#A4C639}
span.rating {color:#A4C639;font-size:1.2rem}
span.pub {color:gray;margin-top:-23px}

/*Emojis, 88x31 buttons*/
img.emo {width:24px;height:24px;vertical-align:middle;margin:0 2px;}
img.i {background:linear-gradient(to bottom,#F1F1F1,#B8B8B8);padding:2px;}
img.i:hover {cursor:pointer}
img.i:active {background:linear-gradient(to bottom,#FFD554,#E99D00);}
a:focus-visible img.i {background:linear-gradient(to bottom,#FFB769, #EC6100)}
img.d {background:linear-gradient(to bottom,#535353,#636363);padding:2px}

/*File Directories*/
body.dir {background:black;color:white;font-family:"Droid Sans",sans-serif;text-align:left;padding-top:0;max-width:550px}
body.dir h1 {padding-left:15px}
body.dir li {justify-content:center;vertical-align:middle;border-top:solid 1px #5e5e5e;}
body.dir img {vertical-align:middle;width:30px;user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
body.dir a {text-decoration:none}

/*Responsive Web*/
@media (min-width:769px)  {
div.browse div.box {width:40%;display:inline-block;margin:1%;}
div.individual div.box {width:60%}
div.row {width:40%}
div#comments {width:60%;}}

@media (min-width:1200px) {
div.browse div.box {width:25%;display:inline-block;margin:1%;}
div.individual {box-sizing:border-box;display:grid;grid-template-columns:1fr 1fr;gap:10px;align-items:start;width:80%;margin:auto;}
div.individual div.box#Gallery {grid-column:1/2;width:100%;max-width:600px;}
div.individual div.texts {grid-column:2/3;display:grid;flex-direction:column;gap:10px;width:90%;}
div.individual div.box {width:100%;margin-bottom:0;margin-top:0;}
body.player div.individual {grid-template-columns: 1fr;width: 70%;}
body.player div.individual div.box#Video {grid-column: 1 / -1;max-width: 80%;}
body.player div.texts {grid-column:1 / -1;width: 80%;display:flex;flex-direction: row;margin:auto;margin-bottom:10px}
body.app div.individual {grid-template-columns: 1fr;width: 60%;}
body.app div.texts {width: 60%;margin:auto;margin-bottom:10px}
div#comments {width:30%;}}

@media (min-width:1700px) {
div.browse div.box {width:20%;display:inline-block;margin:1%;}
div.individual {width:60%}
article img.wide, article video.wide {width:50%}}